.contenedor-card {

  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2rem;
}

.card {

 display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  font-family: 'Khand', sans-serif;
  color: white;
  font-size: large;
  padding: 2rem;;
}

#card-1 {
  background-color: #ef8100;
}

#card-2 {
  background-color: #006c74;
}

#card-3 {
  background-color: #004340;
}

.boton{
width: 7rem;    
height: 2rem;
border-radius: 1rem;
background-color: snow;
border: transparent;
margin-top: 4rem;
margin-bottom: 1rem;


}

#boton-1{
    color: #ef8100;
}

#boton-2{
    color: #006c74;
}
#boton-3{
    color: #004340;
}

h2{
    font-size: 30px;
    
}

p{
    font-size: 15px;
}